.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84vh !important;
    height: 100% !important;
}

.content-box {
    border: 2px solid #333;
    padding: 20px;
    font-size: 17px;
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.content-box a {
    color: blue;
}

.links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}