.container {
    flex-direction: column;
    overflow: hidden;
    min-height: 84vh !important;
    height: 100% !important;
}

#chat-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chat-item {
    border: 2px solid #3f8efc;
    border-radius: 12px;
    padding: 8px;
    gap: 8px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.chat-item:hover {
    background-color: #e0f0ff;
    box-shadow: 0 8px 20px rgba(63, 142, 252, 0.4);
    border-color: #1a3f8f;
}

.chat-header {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.avatar-wrapper {
    width: 60px;
    height: 60px;
}

.chat-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.chat-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    text-decoration: none;
    font-size: 18px;
    color: #324a80;
    font-weight: 600;
}

.chat-title {
    text-decoration: none;
}

.chat-title-text:hover {
    color: #2a3b5f;
    text-decoration: underline;
}

.chat-preview {
    font-size: 16px;
    color: black;
    margin: 0;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-meta {
    flex-shrink: 0;
    font-size: 14px;
    color: #555;
    white-space: nowrap;
    align-self: flex-start;
    margin: 5px 5px 5px 30px;
}

.no-chats-message {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 20px;
}

.no-chats-message a {
    color: #007bff;
    text-decoration: underline;
}
